<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}pti4ka-neveli4ka.ru{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('dashboard/build/css/admin.css') }}">
    {% endblock %}

</head>

<body>

{% block header %}
    <header>
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header col-md-3 col-lg-2">
                    <a class="navbar-brand" href="">
                        Symfony Demo
                    </a>

                    {% if is_granted('ROLE_USER') %}
                        <a href="{{ path('security_logout') }}">LOGOUT</a>
                    {% else %}
                        <a href="{{ path('security_login') }}">LOG IN</a>
                    {% endif %}
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">

                        {% block header_navigation_links %}
                            <li>
                                <a href="">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                </a>
                            </li>

                            {% if is_granted('ROLE_USER') %}
                                <li>
                                    <a href="">is_granted('ROLE_USER')
                                        <i class="fa fa-lock" aria-hidden="true"></i>
                                    </a>
                                </li>
                            {% endif %}
                        {% endblock %}

                        <li>
                            <a href=""> <i class="fa fa-search"></i></a>
                        </li>

                        {% if app.user %}
                            <li>
                                <a href="{{ path('security_logout') }}">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                                </a>
                            </li>
                        {% endif %}

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" id="locales">
                                <i class="fa fa-globe" aria-hidden="true"></i>
                                <span class="caret"></span>
                                <span class="sr-only"></span>
                            </a>
                            <ul class="dropdown-menu locales" role="menu" aria-labelledby="locales">

                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

<div class="container body-container">
    {% block body %}
        <div class="row">
            <div id="main" class="col-sm-9">

                {% block main %}{% endblock %}
            </div>

            <div id="sidebar" class="col-sm-3">
                {% block sidebar %}

                {% endblock %}
            </div>
        </div>
    {% endblock %}
</div>

{% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div id="footer-copyright" class="col-md-6">
                    <p>&copy; {{ 'now'|date('Y') }} - The Symfony Project</p>
                    <p></p>
                </div>
                <div id="footer-resources" class="col-md-6">
                    <p>
                        <a href="https://twitter.com/symfony" title="Symfony Twitter">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.facebook.com/SensioLabs" title="SensioLabs Facebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="https://symfony.com/blog/" title="Symfony Blog">
                            <i class="fa fa-rss" aria-hidden="true"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('admin-area/build/manifest.js') }}"></script>
    <script src="{{ asset('admin-area/build/js/common.js') }}"></script>
    <script src="{{ asset('admin-area/build/js/app.js') }}"></script>
{% endblock %}

</body>
</html>